<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobile.pintusa">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".AndroidApp">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD5JjTgAsUMRO2ckJk02Q1FMAD6JY5TAlE"/>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".auth.SplashScreen"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.login.Login"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".auth.daftar.Daftar"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".main.Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>